<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No no no</title>
</head>
<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Optional: Adjust the height of the container */
}

img {
    max-width: 100%; /* Ensures the image doesn't exceed its container's width */
    max-height: 100%; /* Ensures the image doesn't exceed its container's height */
}
</style>
<body>
  <div class="container">
    <img src="{{ image_src }}" alt="Image">
</div>

</body>

</html>
